include README.md
include LICENSE
recursive-include src/upscaler/shaders *.spv
recursive-include src/upscaler/srcnn *.spv
recursive-include src/upscaler/srcnn *.json
recursive-include src/upscaler/capture/lib *.c *.h
recursive-include src/upscaler/vulkan/lib *.cpp *.h
prune docs
prune src/upscaler/srcnn/**/*.hlsl
prune src/upscaler/srcnn/**/*.glsl
prune src/upscaler/shaders/**/*.hlsl
prune src/upscaler/shaders/**/*.glsl