[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
compushady = "*"
numpy = "*"
pyside6 = "*"
xlib = "*"
ewmh = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.13"
