[Desktop Entry]
Type=Application
Name=Real-Time Upscaler
GenericName=Real-Time Upscaler
Comment=Upscale any X‑Window
Exec=upscale-gui
Icon=io.github.baronsmv.linux-rt-upscaler
Categories=Graphics;GTK;Qt;
Terminal=false
