[Desktop Entry]
Type=Application
Name=Real-Time Upscaler
GenericName=Real-Time Upscaler
Comment=Upscale any X‑Window
Exec=EXEC_PATH_PLACEHOLDER
Icon=ICON_PATH_PLACEHOLDER
Categories=Graphics;GTK;Qt;
Terminal=false
