[Desktop Entry]
Categories=Graphics;GTK;Qt;
Comment=Upscale any X‑Window
Exec=EXEC_PATH_PLACEHOLDER
GenericName=Real-Time Upscaler
Icon=io.github.baronsmv.linux-rt-upscaler
Name=Real-Time Upscaler
NoDisplay=false
SingleMainWindow=true
StartupNotify=false
StartupWMClass=upscale-gui
Terminal=false
Type=Application
